
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #020617;
  color: #ffffff;
}

section {
  padding: 40px 20px;
}

h1, h2, h3, p {
  color: #ffffff;
}

p {
  line-height: 1.7;
}

a {
  color: #38bdf8;
  font-weight: bold;
}

div {
  color: #ffffff;
}

span {
  color: #ffffff;
}

footer {
  padding: 30px 20px;
  background: #020617;
  color: white;
}
